@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@layer base{
  @font-face{
    font-family: 'Agrandir';
    src: url(./fonts/PPAgrandir-GrandHeavy.otf);
  }
}

html,body{
  margin: 0;
  padding: 0;
}

section {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color:darkgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}